<div class="todo" [class.completed]="todo.completed">
  <label class="todo__status-label">
    <input
      type="checkbox"
      class="todo__status"
      [checked]="todo.completed"
      (change)="toggle.emit()"
    />
  </label>

  @if (isEditing) {
    <form (ngSubmit)="save()">
      <input
        #titleField
        type="text"
        name="title"
        class="todo__title-field"
        placeholder="Empty todo will be deleted"
        [(ngModel)]="title"
        (keyup.escape)="isEditing = false"
        (blur)="save()"
      />
    </form>
  }
  @else {
    <span class="todo__title" (dblclick)="edit()">
      {{ todo.title }}
    </span>

    <button class="todo__remove" (click)="delete.emit()">×</button>
  }

  <div class="modal overlay" [class.is-active]="false">
    <div class="modal-background has-background-white-ter"></div>

    <div class="loader"></div>
  </div>
</div>
